.navigation-bar {
    background-color: #FAFAFA;
}

.search-contact a {
    color: #8f8f8f;
    font-weight: 600;
}

.options {
    margin-right: 35rem;
    margin-top: 5px;

}

.options .select {
    border: none;
    background-color: #F2F2F2;
    padding: 5px 13px;
    border-radius: 5px;
    font-size: 15px;
    color: #808080;
    box-shadow: 1px 0px rgb(127, 137, 161);
}

.logo img {
    width: 40%;
    margin-left: 1rem;
    margin-top: -1rem;
}

.navbar .navbar-collapse .link{
    font-size: 13px;
}

.container-fluid .agens , .dbEngine{
    background-color: #F3F6FB;
    padding: 3rem;
}

.container-fluid .agens img{
    width: 80%;
    display: block;
    margin: auto;
}

.container-fluid .key-features img{
    width: 80%;
}

.container-fluid .hover-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid .hover-img div{
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 1rem;
    padding: 2rem 1rem;
    width: 30%;
    box-shadow: 1px 1px 1px rgb(127, 137, 161);
}

.container-fluid .hidden-text{
    display: none;
    animation: forwards;
}

.container-fluid .hidden-pic{
    width: 70%;
}

.container-fluid .dbEngine .hover-img div:hover .hidden-text {
    display: block;
    text-align: left;
    transition:  3s ease-in;}

.container-fluid .dbEngine .hover-img div:hover .hidden-pic {
    display: none;
}

